<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true">Bookers!</span></h1>
<h4><p class="text-right">copyRight Infratop.inc</p></h4>


<div id="container">
	<div id="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
		<div class="image5"></div>
	</div>
</div>